.card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.16);
    transition: 300ms;
  }
  
  .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .image{
    width: 125px;
    object-fit: contain;
  }
  
  .fav{
    background-color: rgba(0,0,0,0.1);
  }
  
  button {
    cursor: pointer;
  }