.app-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  background-image: url('https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg');
  color: #000000;
  font-family: 'Lato', sans-serif;
  min-height:95vh;
  overflow: hidden;
}

.app-wrapper{
  width: 30%;
  margin: 0 auto;
}

.game{
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:700px) {
  .app-wrapper{
    width: 40%;
  }
}

@media screen and (max-width:600px) {
  .app-wrapper{
    width: 60%;
  }
}

@media screen and (max-width:500px) {
  .app-wrapper{
    width: 100%;
    margin: 0;
  }

  .game{
    margin-top: 50px;
  }
  
  .container{
    margin: 10px;
  }
}

.logo{
  width: 60px;
  height: 60px;
}

.container{
  border: solid 1px black;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  margin: 20px 10px;
  min-width: 32px;
  min-height: 95px;
}


.clicked{
  background-color: rgba(105,105,105,0.3);
}

.ball{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.margin{
  margin-bottom: 20px;
}

.name-container{
  position: relative;
}

.name{
  position: absolute;
  bottom: -10px;
  font-size: 10px;
  margin-left: 10px;
}

.red{
  background-color: #e41d36;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.purple{
  background-color: purple;
}

.lblue{
  background-color: lightblue;
}

.orange{
  background-color: orange;
}

.btn{
  background-color: inherit;
  padding: 10px;
  outline: none;
  border: solid 1px #000000;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}

.btn:hover{
  color: #ffffff;
  background-color: rgba(0,0,0,0.7);
}

.btns-container{
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-evenly;
}

