:root {
  --black:#000000;
  --red : #e41d36;
}

.app-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  background-image: url('https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg');
  color: var(--black);
  font-family: 'Lato', sans-serif;
  min-height:95vh;
  overflow: hidden;
}
.input-name{
  padding: 15px;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.note{
  margin: -10px;
  font-size: 12px;
}

.error-msg{
  color: var(--red);
  font-weight: bold;
  font-size: 12px;
}

.submit{
  margin-top: 20px;
  padding: 10px;
  background-color: inherit;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
  color: var(--black);
  border: solid 1px var(--black);
}

.submit:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.logo-container img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.flex{
  display: flex;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.option{
  margin-left: 20px;
}

.quiz{
  margin-top: 100px;
  width: 80%;
  text-align: left;
  padding: 50px 200px;
}

.review-comp{
  border-collapse: collapse;
  width: 70%;
  margin: 30px auto;
}

td, th{
  border: solid 1px var(--black);
  padding: 8px;
  font-weight: bold;
}

.green{
  color: #417505;
}

.red{
  color: var(--red);
}

.buttons-container{
  width: 250px;
  margin: 0 auto;
}

