.fav-btn{
    display: block;
    padding: 10px;
    text-decoration: none;
    border: solid 1px #e41d36;
    width: 150px;
    border-radius: 5px;
    color: #ffffff;
    margin: 20px auto 0;
    background-color: #e41d36;
    transition: 300ms;
}
  
.fav-btn:hover{
    color: #e41d36;
    background-color: #ffffff;
}